<div class="index-container">
    <img src="/images/beer.png" alt="">
    <div class="button-one">
        <a href="/beers">Check the Beers!</a>
    </div>
    <div class="button-two">
        <a href="/random-beers">Check a Random Beer!</a>
    </div>
</div>